body{
    font-family: 'Finlandica', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
.color{
    color: orangered;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 5%;
}
.half img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: black;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 5px;
}
.top-bennar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding: 40px 10px;
}